<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login Form Using HTML And CSS Only</title>
</head>
<body>
	<div class="container" id="container">
		<div *ngIf="loginOrSignUp" class="form-container log-in-container">
			<form [formGroup]="loginForm">
				<h1>Login</h1>
				<input formControlName="email" type="email" placeholder="Email" />
				<input formControlName="password" type="password" placeholder="Password" />
                <div style="display: flex;">
                    <a class="link" style="padding-right: 10px;"  href="#">Forgot your password?</a><a class="link" (click)="changepage()">signUp?</a>
                </div>				
                <button class="button">Log In</button> 
			</form>
		</div>
        <div *ngIf="!loginOrSignUp" class="form-container log-in-container">
			<form [formGroup]="signUpForm">
				<h1>signUp</h1>
				<input formControlName="email" type="email" placeholder="Email" />
                <input formControlName="phoneNumber" type="number" placeholder="Phone Number">
				<input formControlName="password" type="password" placeholder="Password" />
                <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
                <mat-error *ngIf="signUpForm.hasError('passwordMismatch')"><p style="margin-top:5px;margin-bottom:5px">passwords mismatch</p></mat-error>
                <div style="display: flex;">
                    <button class="button" style="margin-right: 5px;" (click)="onSignUp()">sign Up</button> <a class="link" (click)="changepage()">Login?</a>
                </div>
				<mat-error *ngIf="signUpSuccessMsg">{{signUpSuccessMsg}}</mat-error>
				
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div  *ngIf="loginOrSignUp"class="overlay-panel overlay-right">
					<h1 >Login</h1>
                    <p>chat with your friends,family,relatives,etc</p>
                    <p>Our first priority is privacy</p>
				</div>
                <div  *ngIf="!loginOrSignUp"class="overlay-panel overlay-right">
					<h1 >sign Up</h1>
                    <p>chat with your friends,family,relatives,etc</p>
                    <p>Our first priority is privacy</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>