 <div class="container" style="background-color: black;">
  <div class="userList-container">
    <div class="search-bar">
      <img src="" alt="">
      <input type="text">
    </div>
    <div *ngFor="let user of allUsers; let i = index" class="user" [ngClass]="{'selected': i === selectedUserIndex}" (click)="userActivated(user, i)">
      <img src="" class="user-dp" alt="">
      <h1 class="user-name">{{user.userName}}</h1>
    </div>
    
  </div>

  <div class="userChat-container">
    <h1>{{selectedUser?.userName}}</h1>
    <div [formGroup]="userChatForm" *ngIf="selectedUser" class="userChat-search">
      <input formControlName="chat" type="text">
      <button (click)="sendChat(selectedUser)">send</button>
    </div>
    <div *ngFor="let item of list" class="chats">
      <h4></h4>
    </div>
  </div>

 </div>