.container {
  width: 90%;
  height: 90%;
  margin-left: 55px;
  margin-top:30px;
  color: black !important;
}

.userList-container {
  background-color: green;
  color: white;
  float: left;
  width: 30%;
  height: 100%;
}

.userChat-container {
  background-color: yellow;
  color: white;
  float: right;
  width: 70%;
  height: 100%;
}

.user {
  background-color: white;
  height: 10%;
}

h1 {
  color: black;
}
.user-dp{
  float: left;
}

.user-name{
  float: right;
}

.userChat-search {
  position: absolute;
  bottom: 0;
  height: 10%;
}
.userChat-search input {
  width: 600px;
  margin-left: 50px;
}

.user.selected {
  background-color: grey;
}
